{% block content %}

  {% if members %}
    <table class="table table-condensed table-striped">
      <tr>
        <th>Membre</th>
        <th>Sudoer</th>
      </tr>

      {% for member,sudoer in members %}
        <tr>
          <td>{{ member.display_name }}</td>
          <td>
            {% if sudoer %}
              <strong class="ok">✓</strong>
            {% else %}
              <strong class="ko">✗</strong>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <div class="alert alert-info">
      Cet accès n'est accordé à aucun membre.
    </div>
  {% endif %}

{% endblock %}