{% extends "base.html" %}
{% block title %}Aide{% endblock %}
{% block content %}

<h1>Aide</h1>
<p>
  webldap est l'application de gestion des comptes LDAP FedeRez. Cette version de webldap est un fork de la version de FedeRez, adaptée aux besoins de Supélec Rézo.
</p>

<hr/>

<h2>Utilisateurs</h2>
<p>
  Les utilisateurs sont les membres de Supélec Rézo. Si vous n'avez pas de compte, vous pouvez en demander un au bureau de l'association ou aux administrateurs du LDAP.
</p>

<hr/>

<h2>À propos</h2>
<p>
  Les sources de l'application sont publiques :
</p>

<ul>
  <li><a href="https://github.com/supelec-rezo/webldap">dépôt Github de webldap (Supélec Rézo)</a></li>
  <li><a href="https://github.com/FedeRez/webldap">dépôt Github de webldap (FedeRez)</a></li>
</ul>

{% endblock %}
